MONGODB_URI="your_mongodb_uri"
DB_NAME="your_database_collection_name"
ADMIN_EMAIL="your_admin_email"
ADMIN_PASSWORD="your_admin_password"
NEXTAUTH_SECRET="your_nextauth_secret"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="your_cloudinary_cloud_name"
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET="your_cloudinary_upload_preset"
CLOUDINARY_CLOUD_NAME="your_cloudinary_cloud_name"
CLOUDINARY_API_KEY="your_cloudinary_api_key"
CLOUDINARY_API_SECRET="your_cloudinary_api_secret"
